accelerate==0.28.0
bitsandbytes==0.43.0
chainer==7.8.1
clip==0.2.0
datapipe==0.1.0
datasets==2.18.0
diffusers==0.21.0
dill==0.3.8
einops==0.7.0
fairscale==0.4.13
gradio==4.26.0
huggingface_hub==0.21.4
imageio==2.34.0
lmdb==1.4.1
loralib==0.1.2
mc==0.0
numpy==1.26.4
omegaconf==2.3.0
opencv_python==4.9.0.80
packaging==24.0
Pillow==10.3.0
pytorch_lightning==2.2.1
PyYAML==6.0.1
PyYAML==6.0.1
Requests==2.31.0
safetensors==0.4.2
scipy==1.13.0
setuptools==60.2.0
tensorboard==2.16.2
timm==0.9.16
torch==2.2.1
torchvision==0.17.1
tqdm==4.65.2
transformers==4.25.0
wandb==0.16.6
xformers==0.0.25
